
@charset "UTF-8";

@font-face {
  font-family: "perka-icons";
  src:url("fonts/perka-icons.eot");
  src:url("fonts/perka-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/perka-icons.ttf") format("truetype"),
    url("fonts/perka-icons.svg#perka-icons") format("svg"),
    url("fonts/perka-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "perka-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "perka-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-alert:before {
  content: "a";
}

.icon-android:before {
  content: "b";
}

.icon-back:before {
  content: "c";
}

.icon-check:before {
  content: "d";
}

.icon-clear:before {
  content: "e";
}

.icon-click:before {
  content: "f";
}

.icon-date:before {
  content: "g";
}

.icon-download:before {
  content: "h";
}

.icon-email:before {
  content: "i";
}

.icon-facebook:before {
  content: "j";
}

.icon-filter:before {
  content: "k";
}

.icon-find:before {
  content: "l";
}

.icon-forward:before {
  content: "m";
}

.icon-ios:before {
  content: "n";
}

.icon-lightbulb:before {
  content: "o";
}

.icon-minus:before {
  content: "p";
}

.icon-pencil:before {
  content: "q";
}

.icon-phone:before {
  content: "r";
}

.icon-plus:before {
  content: "s";
}

.icon-popout:before {
  content: "t";
}

.icon-pulldown:before {
  content: "u";
}

.icon-question:before {
  content: "v";
}

.icon-return:before {
  content: "w";
}

.icon-time:before {
  content: "x";
}

.icon-trash:before {
  content: "y";
}

.icon-twitter:before {
  content: "z";
}

.icon-world:before {
  content: "A";
}

.icon-wrench:before {
  content: "B";
}

